name: Audit

on:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5

      - name: Setup golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.6.1

      - name: Linting check
        run: golangci-lint run

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5

      - name: All test passes
        run: go test ./...
